
h1 {
	color: brown;
    font-family:fantasy;
    font-size: 26px;
    text-decoration: underline;
}

a {
	color:white; 
	text-decoration: none;
	/*	background-color: gray !important; * interesting tool to assign hierarchy to some property */
	background-color: gray;
}

a:hover{
	background-color: red;
}